<% include common/header.ejs %>

<div class="main-container">
    <div class="category-container">
        <div class="row" id="category_container">
            <div class="col-md 12 top">
            <span class="holder">
                <span class="all-pizzas">Усі піци</span>
                <span class="pizza-number">
                    <span>8</span>
                </span>
            </span>

            </div>
            <div class="col-md 12 bottom filters">
                <div class="categories">
                    <span id="all" class="active">Усі</span>
                    <span id="meat" class="inactive">М'ясні</span>
                    <span id="pineapple" class="inactive">З ананасами</span>
                    <span id="mushroom" class="inactive">З грибами</span>
                    <span id="seafood" class="inactive">З морепродуктами</span>
                    <span id="vegan" class="inactive">Вега</span>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row" id="pizza_list">
            <div class="col-sm-12 col-md-6 col-lg-4 pizza-col">

            </div>
        </div>
    </div>

    <% include common/footer.ejs %>
</div>

<% include common/cart.ejs %>

<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>

<!--Bootsrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!--Own JavaScript -->
<script type="text/javascript"  src="assets/js/main.js"> </script>
</body>
</html>
