<div class="pizza-cart">
    <div class="heading">
        <span class="cart-orders">
            <span class="title"><b>Замовлення</b></span>
            <span class="count-label">0</span>
        </span>
        <span class="clear-order">Очистити замовлення</span>
    </div>

    <div id="cart" class="ordered-pizza">

    </div>

    <div class="order">
        <div class="total-cost">
            <span class="sum-title">
                <b>Сума замовлення</b>
            </span>
            <span class="sum-value">
                0
            </span>
        </div>

        <div class="order-button">
            <a href="order.html" class="btn btn-warning order-btn">Замовити</a>
        </div>
    </div>

</div>