<div class="pizza-cart">
    <div class="heading">
        <span class="cart-orders">
            <span class="title"><b>Замовлення</b></span>
            <span class="count-label">0</span>
        </span>
        <!--<span class="clear-order">Очистити замовлення</span>-->
    </div>

    <div id="cart" class="ordered-pizza">

    </div>

    <style>
        .edit-btn {
            margin: 15px;
            width: 80%;
        }
        .minus {
            display: none;
        }
        .plus {
            display: none;
        }
        .delete {
            display: none;
        }
    </style>
    <div class="order">
        <div class="total-cost">
            <span class="sum-title">
                <b>Сума замовлення</b>
            </span>
            <span class="sum-value">
                0 грн
            </span>
        </div>

        <div class="edit-button">
            <a href="http://localhost:5050" class="btn btn-default edit-btn">Редагувати замовлення</a>
        </div>
    </div>

</div>

