
<div class="page-foot">
    <div class="practice-project">
        Pizza.22 - практичний проект в межах курсу Javascript в Києво-Могилянській Академії
    </div>
    <div class="no-delivery">
        Доставка піци не здійснюється
    </div>
</div>

<div class="discount">

    <div>
        <!--<img src="assets/images/discount.svg" class="upfront">-->
        Цього
        <br>
        Тижня
        <br>
        На все
    </div>
    <div>-20%</div>
</div>
