

.order-container {
  width: 100%;

  .bs-callout {
    font-size: 15px;
    padding: 20px;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-left-color: #ff971b;
    border-radius: 3px;
    background-color: #fffbea;
  }

  .contact-form {
    padding-left: 40px;

    font-size: 20px;

    .order-summary {
      padding-top: 20px;
    }

    .form-horizontal {
      padding-top: 20px;
      font-size: 15px;

      .help-block {
        display: none;
        padding-left: 100px;
      }

      .phone-help-block {
        font-size: 12px;
        display: none;
        padding-left: 100px;
      }

      .error {
        font-size: 12px;
        display: inline;
        padding-left: 100px;
        color: #bb1f31;
      }
    }

    .next-step-width {

      .next-step-button {
        padding-left: 30px;
        padding-right: 30px;
      }
    }
  }
}

